body {
    font-family: "Arial";
}

nav {
    background-color: #fbfbfb;
}

#head-1 {
    background-color: white;
}

#head-2 {
    background-color: #fbfbfb;
    border-top: 3px solid;
    border-top-color: #f6f6f6;
}

#navigation {
    margin-left: 0px;
    margin-right: 0px;
}

#navigation .nav-link {
    padding: 20px 53px 20px 0px;
    font-weight: bold;
    font-size: 15px;
    color: #5d5d5d;
}

.btn-blue-1 {
    background-color: #189aca;
    color: white;
    border-radius: 3px;
    padding: 1px 10px 1px 10px;
}

.btn-blue-2 {
    background-color: #396c8e;
    color: white;
    border-radius: 3px;
    padding: 1px 20px 1px 20px;
}

.btn-blue-3 {
    background-color: white;
    color: #396c8e;
    border: 1.5px solid #396c8e;
    border-radius: 3px;
    padding: 10px 40px 10px 40px;
    margin-bottom: 50px;
}

.btn-blue-4 {
    padding: 10px 35px 10px 35px;
    color: white;
    background-color: #396c8e;
}

.btn-blue-4:hover {
    color: white;
    background-color: #2c3e50;
}

.btn-blue-3:hover {
    background-color: #396c8e;
    color: white;
}

.product {
    display: inline;
}

.product:hover {
    border: 2px solid #9fb2bf;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../Assets/image/chevron-down.png') no-repeat;
    background-size: 9px;
    background-position: 92% 50%;
}

.title {
    font-weight: bold;
    color: #396c8e;
}

hr {
    border-top: 1px solid #a4a4a4;
}

#lan-select {
    border: none;
    color: black;
    text-decoration: none;
}

#lan-select:focus {
    box-shadow: none;
}

#banner {
    background-color: #356281;
}

#banner-1 {
    background-image: url('../../Assets/image/994.png');
    background-size: contain;
    height: 462px;
}

#banner-2 {
    background-image: url('../../Assets/image/bg-3.png');
    background-size: contain;
    width: 100%;
}

#img-share {
    background-color: rgba(53, 98, 129, 0.7);
    height: 462px;
}

#pub-img {
    background-image: url('../../Assets/image/Layer -5.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 465px;
    background-size: contain;
}

#pub-txt {
    margin: 130px 0px 0px 60px;
}

@media(max-width: 1199px) {
    #pub-txt {
        margin: 130px 0px 0px -30px;
    }
}

@media(max-width: 987px) {
    #pub-txt {
        margin: 130px 0px 0px 10px;
    }
}

@media(max-width: 768px) {
    #pub-txt {
        display: none;
    }
}

#navigation .nav-link:hover {
    color: #259fcc;
}

#navigation .nav-link.active {
    color: #259fcc;
}

#form-1 {
    padding: 20px 30px 20px 30px;
    background-color: #bdccd6;
    border-radius: 0px;
}

#form-1-txt {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #396c8e;
    font-weight: bold;
}

.form-1-input {
    font-size: 9px;
    color: #999999;
    padding-left: 9px;
    border-radius: 0px;
    margin-bottom: 5px;
    border: 1px solid #999c9e;
}

#form-2 {
    padding: 65px 50px 50px 50px;
    background-color: white;
    border-radius: 0px;
    border: 2px solid #c6c6c6;
}

#form-2-txt {
    margin-bottom: 30px;
    color: #396c8e;
    font-weight: bold;
}

.form-2-input {
    padding: 15px 15px 15px 35px;
    margin-bottom: 20px;
}

#amt {
    padding-left: 15px;
}

#pub-1,
#pub-2 {
    margin-top: 120px;
}

.col-br {
    border: 1px solid #becbd4;
}

@media(min-width: 992px) {
    .ml-lg-6 {
        margin-left: 4rem;
    }
    .mr-lg-6 {
        margin-right: 4rem;
    }
}

.title-1 {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 40px;
    color: #396c8e;
}

.title-2 {
    font-weight: bolder;
    color: white;
}

.pr-1 {
    margin-bottom: 100px;
    color: #707070;
}

.pr-2 {
    margin-top: 60px;
    margin-bottom: 100px;
    font-weight: lighter;
    color: #707070;
}

.pr-3 {
    margin-top: 20px;
    margin-bottom: 80px;
    font-weight: lighter;
    color: white;
}

#button-quote {
    font-size: 12px;
    padding: 5px 25px 5px 25px;
    color: white;
    background-color: #396c8e;
}

.form-1-date {
    font-size: 9px;
    color: #999999;
    padding-left: 8px;
    border-radius: 0px;
    margin-bottom: 5px;
    border: 1px solid #999c9e;
}

.p-date {
    color: #7dc6e1;
    font-size: 13px;
}

.p-body {
    color: #3f647d;
    font-weight: bold;
    font-size: 15px;
}

.p-lead {
    color: #afafaf;
    font-weight: bold;
    font-size: 13px;
}

.p-link {
    margin-left: 3px;
    padding: 10px;
    font-weight: bold;
}

.p-num {
    color: #5d5d5d;
}

.p-num:hover {
    text-decoration: none;
    color: #4da1c1
}

.p-num.active {
    color: #4da1c1
}

.media-br {
    border: 2px solid #aaaaaa;
    border-left: none;
    background-color: white;
    padding: 15px 0px 0px 30px;
}

#footer-1 {
    background-color: #396c8e;
}

#footer-2 {
    background-color: #2c3e50;
}

#footer-1 .nav-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 20px 60px 20px 0px;
}

#Contain-2 {
    background-color: #396c8e;
}

#Contain-3 {
    background-color: #fbfbfb;
}

#Contain-4 {
    background-color: white;
}

#services {
    margin-bottom: 100px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#search:focus {
    display: block;
    box-shadow: none;
}